.main_bg {
	background: #006600;
	width: 100%;
	height: 100vh;
}

.location_one {
	background-image: url(http://i.imgur.com/Wl0VK24.png);
	width: 425px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    left: 70%;
}

.location_two {
	background-image: url(http://i.imgur.com/MrgCXJk.png);
	width: 425px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.location_three {
	background-image: url(http://i.imgur.com/ngyp5NE.png);
	width: 425px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 70%;
}

.unicorn {
	background-image: url(http://i.imgur.com/ZASoMNq.png);
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.farmer {
	background-image: url(http://i.imgur.com/S7ExoC2.png);
    width: 450px;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    z-index: 0;
    position: absolute;
    top: 280px;
    left: 20px;
}